.tile-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
}

.tile-image, .tile-info {
    height: 50%;
    padding: 0.25rem;
}

img {
    height: 100%
}

.tile-link {
    color: #ffffff;
}
