<mat-grid-list cols="5" [gutterSize]="'0.5rem'" >
    <mat-grid-tile [colspan]="1" [rowspan]="1" *ngFor="let club of clubs$ | async">
        <div class="tile-content" [style.background-color]="club.color">
            <div class="tile-image">
                <img [src]="club.crestUrl" />
            </div>
            <div class="tile-info">
                <div>{{ club.name }}</div>
                <div>{{ club.venue }}</div>
                <p><a class="tile-link" target="_blank" [attr.href]="club.website">Club website >></a></p>
                <a mat-button color="primary" [routerLink]="['/clubs/edit', club._id]">EDIT</a>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>
